FORMAT: 1A
HOST: https://cluster.production.imp.mobilitaetsdienste.de:8443/

# IMP North. Implemented
This is API in a new format 1A 

# Readme before making any changes   

Please keep the groovy generating script in synch with this documentation. Read more on Wiki: https://confluence.imp.mobilitaetsdienste.de/display/IMP/Apiary. 

*update the goovy script if you change names of any chapter* 
*chapter names can not contain special characters "(", ")", "\", etc. which have a meaning in regular expressions*

# Introduction

This is a description of a public REST interface offered by Siemens AG and its subsidiary VMZ Berlin Betreibergesellschaft GmbH 
in the project Open Mobility Berlin. A mockup of this interface can be tried using the URLs listed on the right. For access to the production
system please write an email to `henrik.koberg@siemens.com`

(c) Siemens AG 2014 All rights reserved

# Group Bike Sharing
This is a group of all bike sharing related rest resources
    
## Bike Sharing Stations [/imp-endpoint/api/V1/Resources/BikeSharing/Stations?lat={lat}&lng={lng}&radius={radius}]    
This collection contains a list of all bike sharing stations specified by query parameters
(for station-based bike sharing)

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time.
Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

The data structure of the response contains the following attributes: 

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources within the search area
--- | --- | ---
actions | Array | Available actions
id | Number | Internal bike sharing station identification number
description | String | Approximate location
type | String | Type of bike sharing station
uri | URI | URI to request more details.
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | service provider
availability | Double | Availability in percentage
operator | String | resource operator
phoneNo | String | 
operatorURI | String |
operatorName | String | 
address | Object | 
numberOfBikes | Number | 
numberOfFreeBikes | Number | 
services | Array | 
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request  

Parts of the data structure might be omitted if the information is not available. 
    
### Getting bikes [GET]
@testable

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `1000`) ... String `radius` longitude value. Has example value.
    
+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)

        {
            "metaData": [
                {
                    "serviceAlias": "callabike",
                    "lastUpdateTime": "2014-07-10T14:23:11+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "nextbike",
                    "lastUpdateTime": "2014-07-10T14:11:02+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/BikeSharing/Stations/270210/Process?action=book"
                        }
                    ],
                    "id": 270210,
                    "description": "S+U-Bhf. Friedrichstraße",
                    "type": "BikeSharingStation",
                    "uri": "Resources/BikeSharing/Stations/270210",
                    "location": {
                        "latitude": 52.519676208496094,
                        "longitude": 13.385995864868164,
                        "system": "WGS_84"
                    },
                    "provider": "callabike",
                    "availability": 100,
                    "operator": "CallABike",
                    "modFlag": "Modified",
                    "phoneNo": null,
                    "operatorURI": null,
                    "operatorName": "CallABike",
                    "address": null,
                    "numberOfBikes": 16,
                    "numberOfFreeBikes": 16,
                    "services": null
                },
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/BikeSharing/Stations/270258/Process?action=book"
                        }
                    ],
                    "id": 270258,
                    "description": "Tucholskystraße / Torstraße",
                    "type": "BikeSharingStation",
                    "uri": "Resources/BikeSharing/Stations/270258",
                    "location": {
                        "latitude": 52.52822494506836,
                        "longitude": 13.392618179321289,
                        "system": "WGS_84"
                    },
                    "provider": "callabike",
                    "availability": 43.75,
                    "operator": "CallABike",
                    "modFlag": "Modified",
                    "phoneNo": null,
                    "operatorURI": null,
                    "operatorName": "CallABike",
                    "address": null,
                    "numberOfBikes": 16,
                    "numberOfFreeBikes": 7,
                    "services": null
                }
            ]
        }
        
## All Bike Sharing Stations [/imp-endpoint/api/V1/Resources/BikeSharing/All]    
This collection contains a list of all bike sharing stations (for station-based bike sharing)

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time.
Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

The data structure of the response contains the following attributes: 

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources within the search area
--- | --- | ---
actions | Array | Available actions
id | Number | Internal bike sharing station identification number
description | String | Approximate location
type | String | Type of bike sharing station
uri | URI | URI to request more details.
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | service provider
availability | Double | Availability in percentage
operator | String | resource operator
phoneNo | String | 
operatorURI | String |
operatorName | String | 
address | Object | 
numberOfBikes | Number | 
numberOfFreeBikes | Number | 
services | Array | 
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request  

Parts of the data structure might be omitted if the information is not available. 
    
### Getting bikes [GET]
@testable

+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)

        {
          "metaData": [
            {
              "serviceAlias": "callabike",
              "lastUpdateTime": "2014-08-11T13:38:33+0200",
              "messages": [
                
              ]
            },
            {
              "serviceAlias": "nextbike",
              "lastUpdateTime": "2014-08-11T13:38:36+0200",
              "messages": [
                
              ]
            }
          ],
          "resources": [
            {
              "actions": [
                {
                  "name": "book",
                  "method": "POST",
                  "uri": "Resources/BikeSharing/BikeSharingStation/47059/Process?action=book"
                }
              ],
              "id": 47059,
              "description": "Ernst-Reuter-Platz / Marchstraße",
              "type": "BikeSharingStation",
              "uri": "Resources/BikeSharing/BikeSharingStation/47059",
              "location": {
                "latitude": 52.51343536376953,
                "longitude": 13.32278823852539,
                "system": "WGS_84"
              },
              "provider": "callabike",
              "availability": 62.5,
              "operator": "CallABike"
            },
            {
              "actions": [
                {
                  "name": "book",
                  "method": "POST",
                  "uri": "Resources/BikeSharing/BikeSharingStation/47072/Process?action=book"
                }
              ],
              "id": 47072,
              "description": "Wilmersdorfer Straße / Goethestraße",
              "type": "BikeSharingStation",
              "uri": "Resources/BikeSharing/BikeSharingStation/47072",
              "location": {
                "latitude": 52.5088996887207,
                "longitude": 13.306029319763184,
                "system": "WGS_84"
              },
              "provider": "callabike",
              "availability": 68.75,
              "operator": "CallABike"
            }
          ]
        }
        
## Station with Detailed Info [/imp-endpoint/api/V1/Resources/BikeSharing/Stations/{stationId}]
A single bike sharing station object with Detailed Information determined by a specific id.
The data structure of the response contains the attributes with the basic information and additionally the following attributes:

attribute | json data type | comments
--- | --- | ---
... | ... | ...
freeBikes | List | 

### Getting a specific station [GET] 
@nottestable

+ Parameters
    + stationId (string, `203869`) ... String `stationId` as retrieved through *[/imp-endpoint/api/V1/Resources/BikeSharing/Stations?lat={lat}&lng={lng}&radius={radius}]* .
        
+ Response 200 (application/json)

    + Body
    
            {
                "actions": [
                    {
                        "name": "book",
                        "method": "POST",
                        "uri": "Resources/BikeSharing/Stations/9/Process?action=book"
                    }
                ],
                "id": 9,
                "description": "Museumsinsel / Monbijoubrücke",
                "type": "BikeSharingStationDetails",
                "uri": "Resources/BikeSharing/Stations/9/",
                "location": {
                    "latitude": 52.52271270751953,
                    "longitude": 13.394195556640625,
                    "system": "WGS_84"
                },
                "provider": "callabike",
                "availability": 33.333333333333336,
                "operator": "CallABike",
                "phoneNo": null,
                "operatorURI": null,
                "operatorName": "CallABike",
                "address": null,
                "numberOfBikes": 18,
                "numberOfFreeBikes": 6,
                "services": null,
                "freeBikes": [
                    {
                        "unitId": "2628"
                    },
                    {
                        "unitId": "2703"
                    },
                    {
                        "unitId": "2803"
                    },
                    {
                        "unitId": "3533"
                    },
                    {
                        "unitId": "3764"
                    },
                    {
                        "unitId": "3905"
                    }
                ]
            }
        
## Book a bike available at a bike sharing station [/imp-endpoint/api/V1/Resources/BikeSharing/Stations/{id}/Process?action=book]

The data structure of the request contains the following attributes:

attribute | json data type | comments
--- | --- | ---
operator | String | Name of the operator
from | DateTime | Optional. Default value is current time
to | DateTime | Optional 

The data structure of the response has the following attributes:

attribute | json data type | comments
--- | --- | ---
confirmationId | String | 
comments | String | 

### Booking a bike [POST]
@nottestable

+ Parameters
    + id (string, `2`) ... Bike sharing station id where the bike is to be booked. String `id` as retrieved through *[/imp-endpoint/api/V1/Resources/BikeSharing/Stations?lat={lat}&lng={lng}&radius={radius}]* .

+ Request

        { 
           "operator": "nextbike",
            "from": null,
            "to": null,
            "userId": "4711/10" 
        }

+ Response 201 (application/json)

        {  
            "confirmationId": "1012020020",
            "comments": "Comments"
        } 

# Group Car Sharing
This is a group of all car sharing related rest resources

## List of Car Sharing Locations with Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/All?lat={lat}&lng={lng}&radius={radius}] 

This collection contains list of available car sharing locations specified by the query parameters (both free-floating cars and/or car stations) 
with basic information and a URI to acquire more details.
In case of station-based cars, only the URI of the Car Sharing station is returned; in case of free-floating cars, the URI to the car itself.

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time. Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources
--- | --- | ---
actions | Array | 
id | Number | 
description | String | License ID or approximate location
type | String | 
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
availability | Double | Availability in percentage
operator | String | 
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request

### Getting all car sharing locations [GET]
@testable

+ Parameters
    + lat (optional, string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (optional, string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (optional, string, `1000`) ... String `radius` longitude value. Has example value.

+ Request

    + Headers
        
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 

+ Response 200 (application/json)
    
    + Body
    
            {
            "metaData": [
                {
                    "serviceAlias": "driveNow",
                    "lastUpdateTime": "2014-07-09T12:36:24+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "car2Go",
                    "lastUpdateTime": "2014-07-09T12:36:38+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "flinkster",
                    "lastUpdateTime": "2014-07-09T12:36:46+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "citeeCar",
                    "lastUpdateTime": "2014-07-09T12:26:09+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Cars/235787/Process?action=book"
                        }
                    ],
                    "id": 235787,
                    "description": "Philbert",
                    "type": "Cars",
                    "uri": "Resources/CarSharing/Cars/235787",
                    "location": {
                        "latitude": 52.520018,
                        "longitude": 13.390876,
                        "system": "WGS_84"
                    },
                    "provider": "driveNow",
                    "availability": 100,
                    "operator": "DriveNow",
                    "modFlag": "Relocated"
                },
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Cars/235788/Process?action=book"
                        }
                    ],
                    "id": 235788,
                    "description": "Chico",
                    "type": "Cars",
                    "uri": "Resources/CarSharing/Cars/235788",
                    "location": {
                        "latitude": 52.513842,
                        "longitude": 13.385001,
                        "system": "WGS_84"
                    },
                    "provider": "driveNow",
                    "availability": 100,
                    "operator": "DriveNow",
                    "modFlag": "Deleted"
                }
                ]
            } 

## List of All Car Sharing Locations with Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/All] 

This collection contains list of all available car sharing locations (both free-floating cars and/or car stations) 
with basic information and a URI to acquire more details.
In case of station-based cars, only the URI of the Car Sharing station is returned; in case of free-floating cars, the URI to the car itself.

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time. Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources
--- | --- | ---
actions | Array | 
id | Number | 
description | String | License ID or approximate location
type | String | 
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
availability | Double | Availability in percentage
operator | String | 
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request

### Getting all car sharing locations [GET]
@testable

+ Request

    + Headers
        
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 

+ Response 200 (application/json)
    
    + Body
    
            {
              "metaData": [
                {
                  "serviceAlias": "flinkster",
                  "lastUpdateTime": "2014-07-25T11:30:33+0530",
                  "messages": [
                    
                  ]
                },
                {
                  "serviceAlias": "car2Go",
                  "lastUpdateTime": "2014-07-25T11:30:28+0530",
                  "messages": [
                    
                  ]
                },
                {
                  "serviceAlias": "driveNow",
                  "lastUpdateTime": "2014-07-25T11:30:30+0530",
                  "messages": [
                    
                  ]
                },
                {
                  "serviceAlias": "citeeCar",
                  "lastUpdateTime": "2014-07-25T11:30:34+0530",
                  "messages": [
                    
                  ]
                },
                {
                  "serviceAlias": "multiCity",
                  "lastUpdateTime": "2014-07-25T11:30:36+0530",
                  "messages": [
                    
                  ]
                }
              ],
              "resources": [
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Stations/7695/Process?action=book"
                    }
                  ],
                  "id": 7695,
                  "description": "U-Bahnhof Senefelder Platz",
                  "type": "Stations",
                  "uri": "Resources/CarSharing/Stations/7695",
                  "location": {
                    "latitude": 52.53166159018624,
                    "longitude": 13.412632271647453,
                    "system": "WGS_84"
                  },
                  "provider": "flinkster",
                  "availability": 0,
                  "operator": "FlinksterDB"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Stations/7683/Process?action=book"
                    }
                  ],
                  "id": 7683,
                  "description": "U-Bahnhof Hermannplatz",
                  "type": "Stations",
                  "uri": "Resources/CarSharing/Stations/7683",
                  "location": {
                    "latitude": 52.48663380523992,
                    "longitude": 13.422980234026909,
                    "system": "WGS_84"
                  },
                  "provider": "flinkster",
                  "availability": 0,
                  "operator": "FlinksterDB"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Cars/7884/Process?action=book"
                    }
                  ],
                  "id": 7884,
                  "description": "B-GO2879",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/7884",
                  "location": {
                    "latitude": 52.4701,
                    "longitude": 13.42044,
                    "system": "WGS_84"
                  },
                  "provider": "car2Go",
                  "availability": 100,
                  "operator": "Car2Go_Berlin"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Cars/7885/Process?action=book"
                    }
                  ],
                  "id": 7885,
                  "description": "B-GO2653",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/7885",
                  "location": {
                    "latitude": 52.52848,
                    "longitude": 13.19156,
                    "system": "WGS_84"
                  },
                  "provider": "car2Go",
                  "availability": 100,
                  "operator": "Car2Go_Berlin"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Cars/8816/Process?action=book"
                    }
                  ],
                  "id": 8816,
                  "description": "Romeo",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/8816",
                  "location": {
                    "latitude": 52.513024,
                    "longitude": 13.327073,
                    "system": "WGS_84"
                  },
                  "provider": "driveNow",
                  "availability": 100,
                  "operator": "DriveNow"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Cars/8817/Process?action=book"
                    }
                  ],
                  "id": 8817,
                  "description": "Kingsley",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/8817",
                  "location": {
                    "latitude": 52.500411,
                    "longitude": 13.374263,
                    "system": "WGS_84"
                  },
                  "provider": "driveNow",
                  "availability": 100,
                  "operator": "DriveNow"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Cars/8818/Process?action=book"
                    }
                  ],
                  "id": 8818,
                  "description": "Inness",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/8818",
                  "location": {
                    "latitude": 52.502916,
                    "longitude": 13.479554,
                    "system": "WGS_84"
                  },
                  "provider": "driveNow",
                  "availability": 100,
                  "operator": "DriveNow"
                },
                {
                  "actions": [
                    
                  ],
                  "id": 9323,
                  "description": "B-CC 4162",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/9323",
                  "location": {
                    "latitude": 52.50404000000001,
                    "longitude": 13.47005,
                    "system": "WGS_84"
                  },
                  "provider": "citeeCar",
                  "availability": null,
                  "operator": "CiteeCar"
                },
                {
                  "actions": [
                    
                  ],
                  "id": 9324,
                  "description": "B-CC 1541",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/9324",
                  "location": {
                    "latitude": 52.565338134765625,
                    "longitude": 13.420881271362305,
                    "system": "WGS_84"
                  },
                  "provider": "citeeCar",
                  "availability": null,
                  "operator": "CiteeCar"
                },
                {
                  "actions": [
                    
                  ],
                  "id": 9325,
                  "description": "B-CC 3392",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/9325",
                  "location": {
                    "latitude": 52.521278381347656,
                    "longitude": 13.419211387634277,
                    "system": "WGS_84"
                  },
                  "provider": "citeeCar",
                  "availability": null,
                  "operator": "CiteeCar"
                },
                {
                  "actions": [
                    
                  ],
                  "id": 9467,
                  "description": "151601",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/9467",
                  "location": {
                    "latitude": 52.5275867,
                    "longitude": 13.4586233,
                    "system": "WGS_84"
                  },
                  "provider": "multiCity",
                  "availability": 100,
                  "operator": "Multicity"
                },
                {
                  "actions": [
                    
                  ],
                  "id": 9468,
                  "description": "150554",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/9468",
                  "location": {
                    "latitude": 52.5312183,
                    "longitude": 13.3188283,
                    "system": "WGS_84"
                  },
                  "provider": "multiCity",
                  "availability": 100,
                  "operator": "Multicity"
                },
                {
                  "actions": [
                    
                  ],
                  "id": 9469,
                  "description": "114075",
                  "type": "Cars",
                  "uri": "Resources/CarSharing/Cars/9469",
                  "location": {
                    "latitude": 52.4811767,
                    "longitude": 13.3154033,
                    "system": "WGS_84"
                  },
                  "provider": "multiCity",
                  "availability": 100,
                  "operator": "Multicity"
                }
              ]
            }

## List of free-floating Cars with Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/Cars?lat={lat}&lng={lng}&radius={radius}&f_cars={fuelTypeJson}]

This collection contains a list of available free-floating cars in a specific area (NOTE: for free-floating car sharing only!).
The optional filter `f_cars` can be used to get cars with a specific `fuelType`

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time. Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources
--- | --- | ---
actions | Array | 
id | Number | car id
description | String | License ID or approximate location
type | String | "CarSharingCarDetails"
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
availability | Double | Svailability in percentage
operator | String | "Car2Go_Berlin" etc.
model | String | 
address | String | Street, city, etc.
licenseId | String | License ID
category | String | ENUM{"Fullsize", "Compact", "Smallsize", ... }
fuelType | String | electric vehicle ("ELECTRICITY") or petrol car ("PETROL")
fuelLevel | Double | Fuel level in percentage
imageLink | Link | link to the car image
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request

### Getting free-floating Cars [GET] 
@testable

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `3000`) ... String `radius` radius value. Has example value.
    + fuelTypeJson (optional, string, `{"fuelType":"ELECTRICITY"}`) ... String `fuelTypeJson` fuel type json data. Example value `{"fuelType":"ELECTRICITY"}` or `{"fuelType":"PETROL"}`

+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT     
        
        
+ Response 200 (application/json)

    + Body
    
            {
            "metaData": [
                {
                    "serviceAlias": "driveNow",
                    "lastUpdateTime": "2014-07-09T12:36:24+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "car2Go",
                    "lastUpdateTime": "2014-07-09T12:41:23+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "flinkster",
                    "lastUpdateTime": "2014-07-09T12:41:25+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "citeeCar",
                    "lastUpdateTime": "2014-07-09T12:26:09+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Cars/235787/Process?action=book"
                        }
                    ],
                    "id": 235787,
                    "description": "Philbert",
                    "type": "CarSharingCar",
                    "uri": "Resources/CarSharing/Cars/235787",
                    "location": {
                        "latitude": 52.520018,
                        "longitude": 13.390876,
                        "system": "WGS_84"
                    },
                    "provider": "driveNow",
                    "availability": 100,
                    "operator": "DriveNow",
                    "modFlag": "Relocated",
                    "model": "MINI Cabrio",
                    "address": null,
                    "licenseId": "M-DX7999",
                    "category": null,
                    "fuelType": "PETROL",
                    "fuelLevel": null,
                    "imageLink": null
                },
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Cars/235788/Process?action=book"
                        }
                    ],
                    "id": 235788,
                    "description": "Chico",
                    "type": "CarSharingCar",
                    "uri": "Resources/CarSharing/Cars/235788",
                    "location": {
                        "latitude": 52.513842,
                        "longitude": 13.385001,
                        "system": "WGS_84"
                    },
                    "provider": "driveNow",
                    "availability": 100,
                    "operator": "DriveNow",
                    "modFlag": "Deleted",
                    "model": "BMW X1",
                    "address": null,
                    "licenseId": "M-DX7124",
                    "category": null,
                    "fuelType": "DIESEL",
                    "fuelLevel": null,
                    "imageLink": null
                }
                ]
            }
        
## Car with Detailed Info [/imp-endpoint/api/V1/Resources/CarSharing/Cars/{carId}]

A single car object with Detailed Information. 
The data structure of the response contains the attributes with the basic information and additionally the following attributes:

attribute | json data type | comments
--- | --- | ---
... | ... | ...
model | String | car model
name | String | car name
power | String | 
seatCount | Number | number of sits
doorCount | Number | number of doors
colour | String  | car colour
properties | Array | List of properties: "ABS" etc.
locationNote | String | 
operatorURI | URI | operator URI
fee | String | car costs per time unit

### Getting a specific car [GET] 
@nottestable

+ Parameters
    + carId (string, `203869`) ... String `carId` as retrieved through *[/imp-endpoint/api/V1/Resources/CarSharing/All?lat={lat}&lng={lng}&radius={radius}]* .

        
+ Response 200 (application/json)

    + Body
        
            {
              "actions": [
                    {
                        "name": "book",
                        "method": "POST",
                        "uri": "Resources/CarSharing/Cars/203869/Process?action=book"
                    }
                ],
                "id": 203869,
                "description": "B-GO4010",
                "type": "CarSharingCarDetails",
                "uri": "Resources/CarSharing/Cars/203869/",
                "location": {
                    "latitude": 52.51613,
                    "longitude": 13.41643,
                    "system": "WGS_84"
                },
                "provider": "car2Go",
                "availability": 100,
                "operator": "Car2Go_Berlin",
                "model": "smart fortwo",
                "address": {
                    "citycode": null,
                    "city": null,
                    "street": "Schicklerstraße 5, 10179 Berlin",
                    "houseno": null,
                    "district": null,
                    "region": null,
                    "country": null
                },
                "licenseId": "B-GO4010",
                "category": null,
                "fuelType": "ELECTRICITY",
                "fuelLevel": 85,
                "imageLink": null,
                "name": "smart fortwo",
                "power": null,
                "seatCount": null,
                "doorCount": null,
                "colour": null,
                "properties": [],
                "locationNote": null,
                "operatorURI": null,
                "fee": null
            }        
    
## List of Stations with Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/Stations?lat={lat}&lng={lng}&radius={radius}&f_cars={fuelTypeJson}&operatorId={operatorId}]

This collection contains a list of car sharing stations in a specific area (Note: for station-based car sharing) specified by the query parameters,
together with basic information and URI to acquire more details.
The optional filter `f_cars` can be used to get cars with a specific `fuelType`

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time. Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources within the search area
--- | --- | ---
actions | Array | 
id | Number | 
description | String | Approximate location
type | String | 
uri | URI | URI to request more details
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
availability | Double | Availability in percentage
operator | String | 
operatorURI | String | 
operatorName | String | 
address | Object | {"cityCode": String, "city": String, "street": String, "houseNo": String, "district": String, "region": String, "country": String}
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request 

### Getting car sharing station list [GET] 
@testable

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `3000`) ... String `radius` radius value. Has example value.
    + fuelTypeJson (optional, string, `{"fuelType":"ELECTRICITY"}`) ... String `fuelTypeJson` fuel type json data. Example value `{"fuelType":"ELECTRICITY"}` or `{"fuelType":"PETROL"}`
    + operatorId (optional, string, `FlinksterDB`) ... String `operatorId` operator id data. Has example value.

+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)
            
    + Body
    
            {
            "metaData": [
                {
                    "serviceAlias": "driveNow",
                    "lastUpdateTime": "2014-07-09T12:56:21+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "car2Go",
                    "lastUpdateTime": "2014-07-09T13:01:24+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "flinkster",
                    "lastUpdateTime": "2014-07-09T12:41:25+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "citeeCar",
                    "lastUpdateTime": "2014-07-09T12:26:09+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Stations/236082/Process?action=book"
                        }
                    ],
                    "id": 236082,
                    "description": "Handwerkervereinshaus / Sophienstraße",
                    "type": "CarSharingStation",
                    "uri": "Resources/CarSharing/Stations/236082",
                    "location": {
                        "latitude": 52.52561167074207,
                        "longitude": 13.401126265525818,
                        "system": "WGS_84"
                    },
                    "provider": "flinkster",
                    "availability": 100,
                    "operator": "FlinksterDB",
                    "modFlag": "Modified",
                    "phoneNo": null,
                    "operatorURI": null,
                    "operatorName": "FlinksterDB",
                    "address": {
                        "citycode": "10178",
                        "city": "Berlin",
                        "street": "Sophienstraße",
                        "houseno": "18",
                        "district": "Mitte",
                        "region": null,
                        "country": null
                    }
                },
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Stations/236084/Process?action=book"
                        }
                    ],
                    "id": 236084,
                    "description": "Caroline-Michaelis-Straße",
                    "type": "CarSharingStation",
                    "uri": "Resources/CarSharing/Stations/236084",
                    "location": {
                        "latitude": 52.533559809882156,
                        "longitude": 13.382519781589508,
                        "system": "WGS_84"
                    },
                    "provider": "flinkster",
                    "availability": 100,
                    "operator": "FlinksterDB",
                    "modFlag": "Modified",
                    "phoneNo": null,
                    "operatorURI": null,
                    "operatorName": "FlinksterDB",
                    "address": {
                        "citycode": "10115",
                        "city": "Berlin",
                        "street": "Caroline-Michaelis-Straße",
                        "houseno": "5-11",
                        "district": "Mitte",
                        "region": null,
                        "country": null
                    }
                }
                ]
            }  

## Station with Detailed Info [/imp-endpoint/api/V1/Resources/CarSharing/Stations/{stationId}]
A single car sharing station object with Detailed Information determined by a specific id.
The data structure of the response contains the attributes with the basic information and additionally the following attributes:

attribute | json data type | comments
--- | --- | ---
... | ... | ...
notes | String | 
services | Array | 
availableCars | Number | number of available cars

### Getting a specific station [GET] 
@nottestable

+ Parameters
    + stationId (string, `203869`) ... String `stationId` as retrieved through *[/imp-endpoint/api/V1/Resources/CarSharing/Stations?lat={lat}&lng={lng}&radius={radius}]* .
        
+ Response 200 (application/json)

    + Body
    
            {
                "actions": [
                    {
                        "name": "book",
                        "method": "POST",
                        "uri": "Resources/CarSharing/Stations/1634/Process?action=book"
                    }
                ],
                "id": 1634,
                "description": "Friedrichstr.",
                "type": null,
                "uri": "Resources/CarSharing/Stations/1634/",
                "location": {
                    "latitude": 52.5083274841,
                    "longitude": 13.3902387619,
                    "system": "WGS_84"
                },
                "provider": "FlinksterDB",
                "availability" : 100,
                "operator": "FlinksterDB",
                "phoneNo": null,
                "operatorURI": null,
                "operatorName": "FlinksterDB",
                "address": {
                    "citycode": "10117",
                    "city": "Berlin",
                    "street": "Friedrichstr.",
                    "houseno": "50-55",
                    "district": null,
                    "region": null,
                    "country": null
                },
                "notes": [
                    "Öffnungszeiten:\nMo-Fr: 7.00 - 19.00\nSa: 9.00 - 14.00\nSo: 9.00 - 13.00 "
                ],
                "services": null,
                "availableCars": 7
            }        

## List of Cars at a specific Station with Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/Stations/{stationId}/Cars]
This collection contains a list of cars at a specific car sharing stations.

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time.
Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

### Getting cars at a specific station [GET]
@nottestable

+ Parameters
    + stationId (string, `203869`) ... String `stationId` as retrieved through *[/imp-endpoint/api/V1/Resources/CarSharing/Stations?lat={lat}&lng={lng}&radius={radius}]*
    
+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)
    
    + Body

            {
            "metaData": [
                {
                    "serviceAlias": "flinkster",
                    "lastUpdateTime": "2014-07-08T13:36:39+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Stations/206470/Cars/207643/Process?action=book"
                        }
                    ],
                    "id": 207643,
                    "description": "Caroline-Michaelis-Straße",
                    "type": "CarSharingStationCarDetails",
                    "uri": "Resources/CarSharing/Stations/206470/Cars/207643",
                    "location": {
                        "latitude": 52.533559809882156,
                        "longitude": 13.382519781589508,
                        "system": "WGS_84"
                    },
                    "provider": "flinkster",
                    "availability": null,
                    "operator": "FlinksterDB",
                    "model": "Kleinwagen",
                    "address": {
                        "citycode": "10115",
                        "city": "Berlin",
                        "street": "Caroline-Michaelis-Straße",
                        "houseno": "5-11",
                        "district": "Mitte",
                        "region": null,
                        "country": null
                    },
                    "licenseId": null,
                    "category": null,
                    "fuelType": "DIESEL",
                    "fuelLevel": null,
                    "imageLink": null
                },
                {
                    "actions": [
                        {
                            "name": "book",
                            "method": "POST",
                            "uri": "Resources/CarSharing/Stations/206470/Cars/207644/Process?action=book"
                        }
                    ],
                    "id": 207644,
                    "description": "Caroline-Michaelis-Straße",
                    "type": "CarSharingStationCarDetails",
                    "uri": "Resources/CarSharing/Stations/206470/Cars/207644",
                    "location": {
                        "latitude": 52.533559809882156,
                        "longitude": 13.382519781589508,
                        "system": "WGS_84"
                    },
                    "provider": "flinkster",
                    "availability": null,
                    "operator": "FlinksterDB",
                    "model": "Mittelklasse",
                    "address": {
                        "citycode": "10115",
                        "city": "Berlin",
                        "street": "Caroline-Michaelis-Straße",
                        "houseno": "5-11",
                        "district": "Mitte",
                        "region": null,
                        "country": null
                    },
                    "licenseId": null,
                    "category": null,
                    "fuelType": "DIESEL",
                    "fuelLevel": null,
                    "imageLink": null
                }
            ]
            } 

## Book a free-floating car [/imp-endpoint/api/V1/Resources/CarSharing/Cars/{carId}/Process?action=book]

The data structure of the request contains the following attributes:

attribute | json data type | comments
--- | --- | ---
operator | String | Name of the operator
from | DateTime | Optional. Default value is current time
to | DateTime | Optional 

The data structure of the response has the following attributes:

attribute | json data type | comments
--- | --- | ---
confirmationId | String | 
comments | String | 

### Booking a car [POST]
@nottestable

+ Parameters
    + carId (string, `2`) ... String `carId` as retrieved through *[/imp-endpoint/api/V1/Resources/CarSharing/Cars?lat={lat}&lng={lng}&radius={radius}]* .


+ Request

        { 
            "operator": "flinkster",
            "from": "",
            "to": "",
            "userId": "4711/10" 
        }
    
        
+ Response 201 (application/json)

        {  
            "confirmationId": "1012020020",
            "comments": "Comments"
        } 

## Book a car at a specific station [/imp-endpoint/api/V1/Resources/CarSharing/Stations/{stationId}/Cars/{carId}/Process?action=book]

The data structure of the request contains the following attributes:

attribute | json data type | comments
--- | --- | ---
operator | String | Name of the operator
from | DateTime | Optional. Default value is current time
to | DateTime | Optional 

The data structure of the response has the following attributes:

attribute | json data type | comments
--- | --- | ---
confirmationId | String | 
comments | String | 

### Booking a car at a station [POST]
@nottestable

+ Parameters
    + stationId (string, `1`) ... String `stationId`
    + carId (string, `2`) ... String `carId` 


+ Request

        { 
            "operator": "car2go_berlin",
            "from": null,
            "to": null,
            "userId": "4711/10"  
        }
    
        
+ Response 201 (application/json)

        {  
            "confirmationId": "1012020020",
            "comments": "Comments"
        } 

## Book any car available at a station by specifying the car type [/imp-endpoint/api/V1/Resources/CarSharing/Stations/{stationId}/Process?action=book]

The data structure of the request contains the following attributes:

attribute | json data type | comments
--- | --- | ---
operator | String | Name of the operator
from | DateTime | Optional. Default value is current time
to | DateTime | Optional
type | Enum value | Allowed values: TBD

The data structure of the response has the following attributes:

attribute | json data type | comments
--- | --- | ---
confirmationId | String | 
comments | String | 

### Booking a car at a station [POST]
@nottestable

+ Parameters
    + stationId (string, `2`) ... String `stationId` as retrieved through *[/imp-endpoint/api/V1/Resources/CarSharing/Stations?lat={lat}&lng={lng}&radius={radius}]*

+ Request

        { 
            "operator": "car2go_berlin",
            "from": null,
            "to": null,
            "userId": "4711/10"   
        }
        
+ Response 201 (application/json)

        {  
            "confirmationId": "1012020020",
            "comments": "Comments"
        }         

# Group EV Charging Station
This is a group of all EV Charging related rest resources    
    
## List of EV Charging Stations with Basic Info [/imp-endpoint/api/V1/Resources/EVCharging/Stations?lat={lat}&lng={lng}&radius={radius}]
This collection contains a list of all electric vehicle (EV) charging stations specified by query parameters (and body), 
together with geo location, name, and a URI to acquire more details.

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time.
Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources within the search area
--- | --- | ---
actions | Array | List of available actions on this resource
id | Number | Internal charging station identification numberg
description | String | Approximate location or parking garage operator
type | String | ="EVChargingStation" 
uri | URI | URI to request more details
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider |  String| Charging station operator (usually equals provider)
availability | Double | Availability in percentage
operator | String | Charging station provider (usually equals operator)
address | Object | 
plugTypes | Enum value | Type of the plug.
power | Number |  
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request  

### Getting EV charging stations [GET]
@testable

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `1000`) ... String `radius` longitude value. Has example value.
    
+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)
    
        {
            "metaData": [
                {
                    "serviceAlias": "vattenfall",
                    "lastUpdateTime": "2014-07-10T12:06:09+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [],
                    "id": 268355,
                    "description": "Conti",
                    "type": "EVChargingStation",
                    "uri": "Resources/EVCharging/Stations/268355",
                    "location": {
                        "latitude": 52.51474,
                        "longitude": 13.38639,
                        "system": "WGS_84"
                    },
                    "provider": "vattenfall",
                    "availability": 0,
                    "operator": "Vattenfall",
                    "modFlag": "Relocated",
                    "address": {
                        "citycode": "10117",
                        "city": "Berlin",
                        "street": "Glinkastr.",
                        "houseno": "38",
                        "district": null,
                        "region": null,
                        "country": null
                    },
                    "plugTypes": [
                        "Type2Outlet",
                        "TypeFSchuko"
                    ],
                    "power": {
                        "unit": "KiloWatt",
                        "value": 11040
                    }
                }
            ]
        }

## List of All EV Charging Stations with Basic Info [/imp-endpoint/api/V1/Resources/EVCharging/Stations/All]
This collection contains a list of all electric vehicle (EV) charging stations.

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time.
Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources within the search area
--- | --- | ---
actions | Array | List of available actions on this resource
id | Number | Internal charging station identification numberg
description | String | Approximate location or parking garage operator
type | String | ="EVChargingStation" 
uri | URI | URI to request more details
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider |  String| Charging station operator (usually equals provider)
availability | Double | Availability in percentage
operator | String | Charging station provider (usually equals operator)
address | Object | 
plugTypes | Enum value | Type of the plug.
power | Number |  
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request  

### Getting EV charging stations [GET]
@testable

+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)
    
        {
            "metaData": [
                {
                    "serviceAlias": "vattenfall",
                    "lastUpdateTime": "2014-08-11T14:54:39+0200",
                    "messages": []
                },
                {
                    "serviceAlias": "hubject",
                    "lastUpdateTime": "2014-08-11T05:17:50+0200",
                    "messages": []
                }
            ],
            "resources": [
                {
                    "actions": [],
                    "id": 53009,
                    "description": "",
                    "type": "EVChargingStationDetails",
                    "uri": "Resources/EVCharging/Stations/EVChargingStationDetails/53009",
                    "location": {
                        "latitude": 52.43498,
                        "longitude": 13.43448,
                        "system": "WGS_84"
                    },
                    "provider": "vattenfall",
                    "availability": 100,
                    "operator": "Vattenfall"
                },
                {
                    "actions": [],
                    "id": 49313,
                    "description": "TOTAL-Tankstelle",
                    "type": "EVChargingStationDetails",
                    "uri": "Resources/EVCharging/Stations/EVChargingStationDetails/49313",
                    "location": {
                        "latitude": 52.5481579,
                        "longitude": 13.4675685,
                        "system": "WGS_84"
                    },
                    "provider": "vattenfall",
                    "availability": 100,
                    "operator": "Vattenfall"
                }
            ]
        }

## EV Charging Station with Detailed Info [/imp-endpoint/api/V1/Resources/EVCharging/Stations/{stationId}]

A single charging station object with Detailed Information. 
The data structure of the response contains the attributes with the basic information and additionally the following attributes:

attribute | json data type | comments
--- | --- | ---
... | ... | ...
chargingStationType | String |  
managedChargeable | Boolean |  
owner | String |  
plugTypes | Enum value | Type of the plug.
power | Number |  
voltage | Number |  
chargingPoints |  |  
properties |  |  
units | EVChargingUnit | Details of EV Charging units

### Getting a specific charging station [GET] 
@nottestable

+ Parameters
    + stationId (string, `203869`) ... String `stationId` as retrieved through *[/imp-endpoint/api/V1/Resources/EVCharging/Stations?lat={lat}&lng={lng}&radius={radius}]*

        
+ Response 200 (application/json)

            {
                "actions": [],
                "id": 238936,
                "description": "Charging Station RWE Effizienz",
                "type": "EVChargingStationDetails",
                "uri": "Resources/EVCharging/Stations/238936/",
                "location": {
                    "latitude": 52.519231,
                    "longitude": 13.390489,
                    "system": "WGS_84"
                },
                "provider": "hubject",
                "availability": 0,
                "operator": "Hubject",
                "address": {
                    "citycode": "10117",
                    "city": "Berlin",
                    "street": "Planckstr.",
                    "houseno": "4",
                    "district": null,
                    "region": "11",
                    "country": "DE"
                },
                "plugTypes": [
                    "Type2Outlet"
                ],
                "power": null,
                "chargingStationType": null,
                "managedChargeable": null,
                "owner": null,
                "voltage": null,
                "properties": null,
                "numberOfUnits": 2,
                "availableUnits": 0,
                "units": [
                    {
                        "description": "+49*809*010*150109",
                        "state": "IN_USE",
                        "plugType": "Type2Outlet"
                    },
                    {
                        "description": "+49*809*010*150108",
                        "state": "IN_USE",
                        "plugType": "Type2Outlet"
                    }
                ]
            }


# Group Handy Ticket
This is a group of all handy ticketing related rest resources.
    
## Available Tickets [/imp-endpoint/api/V1/Resources/Ticketing/Tickets]    
This collection contains a list of available products (tickets) for specified origin and destination. Both are public transport stations and are identified by `{pointId}`. 
PointId can be retrieved using `GET /imp-endpoint/api/V1/Resources/PublicTransport/Stations`

The data structure of the request:

attribute | json data type | comments
--- | --- | ---
origin | Object | Point id and address string
destination | Object | Point id and address string
viaPoints | Object | List of geo locations the route should pass
numberOfTickets | Object | Number of tickets
ticketingCategory | String | Specified zone. Possible values: B0, B1, B2, B3


The data structure of the response contains the following attributes:

attribute | json data type | comments
--- | --- | ---
actions | Array | List of available actions on this resource (buy/confirm)
id | Number | Resource id
description | String | 
type | String | 
uri | URI | URI to request more details
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
operator | String | Name of Ticket Operator
tariffText | String | Contains Zone and Validity inforation
tariffInformation | String | Conditions applied for ticket
price | double | Price of ticket
currency | String | Currency

Parts of the data structure might be omitted if the information is not available. 
    
### Getting available tickets [GET]
@nottestable
    
+ Request

    + Body
    
            { 
             "origin": { 
             "id": "130", 
             "address": "Dresden Hauptbahnhof"
             },
             "destination": { 
             "id": "130", 
             "address": "Dresden Postplatz" 
             },
             "numberOfTickets": "1",
             "ticketingCategory": "B0",
             "viaPoints": []
            }
        
+ Response 200 (application/json)

    + Body
    
            {
                [
                    {
                        "actions": [
                            {
                                "name": "buy",
                                "method": "POST",
                                "uri": "Resources/Ticketing/Tickets/{resourceId}/Process?action=buy"
                            }
                        ],
                        "id": {resourceId},
                        "description": null,
                        "type": null,
                        "uri": "Resources/Ticketing/Tickets/157",
                        "location": null,
                        "provider": null,
                        "operator": "handyticket",
                        "tariffText": "DVB VVO-Einzelfahrt normal Preisstufe 1 für Zone Dresden gültig 18.11.13 12:21 Uhr bis 13:21 Uhr.",
                        "tariffInformation": "Gilt in der angegebenen Tarifzone; max. 1 Std.",
                        "price": 2.2,
                        "currency": "EUR"
                    }
                ]
            }

## Buy a Ticket [/imp-endpoint/api/V1/Resources/Ticketing/Tickets/{id}/Process?action=buy]    
The response contains details of a bought ticket, identified by {ticketIds} and {ticketContent} 

The data structure of the request body:

attribute | json data type | comments
--- | --- | ---
name | String | Name of Ticket Operator
userId | String | Point id and address string
password | String | Password for buying ticket

The data structure of the response contains the following attributes:

attribute | json data type | comments
--- | --- | ---
actions | Array | List of available actions on this resource (confirm)
processId | Number | BPMN process id
confirmation | Object | Buy ticket response data


confirmation contains following fileds:

attribute | json data type | comments
--- | --- | ---
requestId | String | Resource id received while initiating the booking
ticketIds | Array | Array of ticket ids 
ticketContent | Base64Binary | Content of Ticket
    
### Buying a ticket [POST]
@nottestable

+ Parameters
    + id (string, `9347`) ... String `id` ticket id value.
    
+ Request

    + Headers
        
            userToken: {someUserToken} 

    + Body
    
            {
                "operator": {
                    "name": "handyticket",
                    "userId": "01805006013",
                    "password": "7555"
                }
            }
        
+ Response 201 (application/json)

    + Body
    
            {
                "actions": [
                    {
                        "name": "confirm",
                        "method": "PUT",
                        "uri": "Processes/{processId}?action=confirm"
                    }
                ],
                "processId": {processId},
                "confirmation": {
                    "featureType": "BUY",
                    "confirmationId": null,
                    "confirmationData": {
                        "requestId": "{resourceid}"
                        "ticketIds": [
                            "274946704480125"
                        ],
                        "ticketContent": "UEQ5NGJXd2dkbVZ5YzJsdmJqMGlNUzR3SWlCbGJtTnZaR2x1WnowaVZWUkdMVGdpUHo0TkNqeDBhV15yWlhSRmNuZGxjbUp6VUhKdmVtVnpjMUpsYzNCdmJuTmxQZzBLSUNBOGNISmxhWE0rTWl3eU1Ed3ZjSEpsYVhNK0RRb2dJRHgzWVdWb2NuVnVaejVGVlZJOEwzZGhaV2h5ZFc1blBnMEtJQ0E4WVdkVVpYaDBQakY0SUVSV1FpQldWazh0UldsdWVtVnNabUZvY25RZ2JtOXliV0ZzSUZCeVpXbHpjM1IxWm1VZ01TQm13N3h5SUZwdmJtVWdSSEpsYzJSbGJpQm53N3hzZEdsbklERXpMakV4TGpFeklEQTFPalV6SUZWb2NpQmlhWE1nTURZNk5UTWdWV2h5TGp3dllXZFVaWGgwUGcwS0lDQThiV1Z6YzJGblpTQjBlWEJsUFNKM1lYSnVhVzVuSWo0OEwyMWxjM05oWjJVK0RRb2dJRHh1ZFhSNlpYSWdMejROQ2lBZ1BHSmxjbVZqYUhScFozVnVaMlZ1UGcwS0lDQWdJRHhpWlhKbFkyaDBhV2QxYm1jK0RRb2dJQ0FnSUNBOGMzUmhkSFZ6UGpBOEwzTjBZWFIxY3o0TkNpQWdJQ0FnSUR4MGVYQStNVHd2ZEhsd1BnMEtJQ0FnSUNBZ1BIQjJQall3TmpBOEwzQjJQZzBLSUNBZ0lDQWdQSEJ5YVcxaFpYSkxkbkErTmpBeE16d3ZjSEpwYldGbGNrdDJjRDROQ2lBZ0lDQWdJRHh6Wld0MWJtUmhaWEpMZG5BK05qQXhNend2YzJWcmRXNWtZV1Z5UzNad1BnMEtJQ0FnSUNBZ1BIQnliMlIxYTNSRGIyUmxQakU4TDNCeWIyUjFhM1JEYjJSbFBnMEtJQ0FnSUNBZ1BHZGxZbWxsZEhOSGRXVnNkR2xuYTJWcGRENHdQQzluWldKcFpYUnpSM1ZsYkhScFoydGxhWFErRFFvZ0lDQWdJQ0E4ZW1WcGRFZDFaV3gwYVdkclpXbDBQakE4TDNwbGFYUkhkV1ZzZEdsbmEyVnBkRDROQ2lBZ0lDQWdJRHh1ZFhSNlpYSlVlWEErTUR3dmJuVjBlbVZ5Vkhsd1BnMEtJQ0FnSUNBZ1BITjBZWEowV205dVpUNHhNRHd2YzNSaGNuUmFiMjVsUGcwS0lDQWdJQ0FnUEd0dmJXWnZjblErTVR3dmEyOXRabTl5ZEQ0TkNpQWdJQ0FnSUR4eGRXRnNhWFJoWlhRK01Ud3ZjWFZoYkdsMFlXVjBQZzBLSUNBZ0lDQWdQR0psYzJOb2NtVnBZblZ1Wno1RVZrSWdWbFpQTFVWcGJucGxiR1poYUhKMElHNXZjbTFoYkNCUWNtVnBjM04wZFdabElERWdac084Y2lCYWIyNWxJRVJ5WlhOa1pXNGdaOE84YkhScFp5QXhNeTR4TVM0eE15QXdOVG8xTXlCVmFISWdZbWx6SURBMk9qVXpJRlZvY2k0OEwySmxjMk5vY21WcFluVnVaejROQ2lBZ0lDQWdJRHgwWVhKcFptbHVabTgrUjJsc2RDQnBiaUJrWlhJZ1lXNW5aV2RsWW1WdVpXNGdWR0Z5YVdaNmIyNWxPeUJ0WVhndUlERWdVM1JrTGp3dmRHRnlhV1pwYm1adlBnMEtJQ0FnSUNBZ1BITnBZMmhsY21obGFYUnpUV1Z5YTIxaGJENUZUakV0TVRBdE1UTXhNVEExTlRNS1VDb3FNekV5TXpFeU16aDJDazF2ZEdsMklEUXhPVFV6TlRNM05qY0tMUzFVUlZOVUxTMVVTVU5MUlZRdExRbzhMM05wWTJobGNtaGxhWFJ6VFdWeWEyMWhiRDROQ2lBZ0lDQWdJRHhpWVhKamIyUmxQbWxXUWs5U2R6QkxSMmR2UVVGQlFVNVRWV2hGVldkQlFVRkpORUZCUVVOUFEwRk5RVUZCUkZGSk9FRTJRVUZCUVVKc1FrMVdSVmd2THk4NFFVRkJRbFozZEU0clFVRkJSVFZGYkVWUlZsSTBNblV5WXpJeU4ycE5RWGhGYkdZdkx6WlhNVkppUXpKU05UbEVjR3NyWTJoQ1ZHSlpTa3haT0hScGFHVm9jVTl6TVRsbVppdDJjamRtYmpJNVpuUTFaSEk1WkRNdk1TdDJZaXQyYmpWNlpsZ3laR051SzNodU4wVmtkSEpKU25nclkyOVdNRzV1ZDA1MlRVODBMMjR2WlVsMEwwRmtaSHA0UlU5TVoyNUJSREozWlhWcVVFZEhZMFV4Y1ZBeU1pdHZNM1EwS3pkbWRUUmxXRVJQVGpBdkwzazBUbnB0ZEhveFlWQnphMVpaVFRoR2VrbGlUbkJzZFZCaVMwMUdkMlZ1VERkMGRYTkxZM2hVYTNReWJGWkljbTFQZHpaT0szVktaMnhQV0U5VWJFZFhjbnB1UWxOeFVXVnpSbnBuV0daSVowMU5PVVJMWlRaeGRUWTRkWFYxY1VRM2MySTNORXg0T1M5UGNTc3ZkVVpHWjI1SVJqTnhaR3RQY21rMk4zUjFkMDlsU1RsV2IyNTNSRkUwWm1GR1YxTkNXVzByV2t0Vk1FWlZiME0yVUVJM0wwOUtaM3BOV2pKbGVua3JjMDkyTkdGWEt6RnJWM2xZZW5OT1JHaHRabmd2YldWVWRtNVJkRXBVU2tsSk5tSkViMDU2YkdsNE0yZFpRMHRHU1djMGNsSlRjVlJ5UWs4eWFrWlBSVXA0TlhOMWVsVmhVbTR6VFVaRlpGSllNRWxTTlVGSmFFMVFiWGd4VUdjM016STJOa1pOVFVsdFJuZGxhMHBsUm5sUFZubEVlRnB1V0hsM1prczRVMFY0ZFhkTlJHaEZha1pEY1RsV04yZGFSbEJzT0UxdVJtUkNiMk50Tmt0bGRVNVBVVkpKZHpSM1kxTnRXRVpNWlV0RWFXTkJSbEZFY0VaVGFUQjZRbXN2YmpBMU9VOUxlREZQWjNoalJEYzRhbk5RY0RSWk1sTkxVM0E0VDBsRmQzQjZaVlo2ZEhWWldWaERTVzVxV25FeGMzUXJUV3MxTWtOV1RsRkZjbUk0WTFScGRHUkdPRk16YWtKRk9XdFRjVXB0TlVjeFIwRmFTR2RsYm14cFVtTjNiRmhwYmpST2NGUXlhM0JuUVhsQ1MxRnZUM1EwWlZsdmNYcEZTRVJsU25sRFNIZFRUREJ6VTBsT1ZFb3lhRXRKWlc1NmVWbFlNakZKTTBwWE4wTmxSMFJvT1c5bVpWVnhObHBWU0ZSNlJGcEljVUY1VVZBeFQzY3ZRMWxZUzFKcGJERjVRMGd5YVhKaWJsZFJlbGR0ZUZkR2R6VnJVMEpEY0djclMxWTBVVGxqYkhWaVQwRkRNbmR0UW5kNVduQmtTMWR1TkVaUGVtbEtjM1JzVG1scmQyRkZWMVZETDJKb1FuZFRTM05XWTNkclFsQTVkRVpETkVWNlEwSnVXbTR2VW5scVkzRXlWWEJDY3k5U1EwVm9ZMDFwY0dOWlNrWTBTbmhsYjAxWVRVeG9UMU55ZVVFME0wWjZNSFJJVW1oVk5EWkxTVFphTmtvNFpWTkNiMlJHUTI0d05VODNia2xXVEN0V1VUbDNWMkZJTkRWRFRUWklNek5HSzNnNWVqZHNUVFUzVnpKcFpXTkhiMEpHTmtabFJrcDRaUzl1ZFhvemJWWTBabE5zWW5jMWMwUk9jMU56UTBScVZWaHdOVVp1WWpNMWN6QlVkakJvWmpaWGNsQlJTbWM0VDJ4NlRqTnhWMmRRUVdwU2FHc3dTVWxUSzJ0M1QwSTBWMDlVYm5kcFpreHJNVWRXTjNjeVVrZDNTbTFUY1RSdGRXMHdjMkp0ZUZseGFWVjBlVWRuWmtoRFQyVTNZWEJ4YjJKck9HZHhSR2RYTUZWTldVaEhkRFJ0VTNsTGIyOHlZazlOYkhCWFZIRmhRMWxsYTB3MVlrVnpOamwzVFhOdVJHaExjSGhaSzBGM1EyUkJXRXMxYldkdFZGbG1kMk5GWVhCalJYaGpUSEo0YzI5NVlXRmFXa3BEYlRKRlJFMXJRbE53UTBsblkwNTViVXhWYlhOd1lrVnBWVlJ1YlRoVVVGcFhNWEJqUzJkb05YUkpjbTkzV2xsM1IyVkhNRVpRWmxKU1JUSkJRVFJZT0hrMU4xaFdiM0Y2YlZJMFRqSnphSEkyVEdkMVJXcExUbTlMVWl0SGIyMWxlV1pwY1d4M2NFUk5Oa2d6TTJ4dVpuaGhXSFZ3TWxGek5WbDBNRGM1VnpocVFURnNkM0pJVWtkTmEyVkhTR0ZyYjJkRFNUaFhPWE5hUVVob01YVnNURWhhTWtOYVJWaFJWVGQyV1hKdlYwSlpaRVphWWpaU1ltdHZVV1ZQZGtKMFIxY3hRbHByZDA5SFUzbHlaMmxpYUZJMVZEQnFWMHg2YkhOMVIwRlFTRlZ6Y0ZvNVIwSmljQ3MyVEZGaFdWbFJVREJXUVVsak0wRlZOME5QYmk5ek5WQjRaRXBKUTBOdGVrRTBka1ZJVTFKYU5WUkJOVXB2Uldwa2RHRllhRWgzWlVoNWFFUmpNR1ZWZGtGcmVFWnhTMWhEUTJWMFFrNU5XRU5KYlcxWFFqUlRVMFI0YlROallYaEpURWs0WjNkUFExbG5TWGh1YlV4TGVUVXlNRUl4YkRZMlFqVjJVbmhQUlhoQk9HdFpaak5wUW05UU1IWnBlbFY0TWtWeWJIZG1SbEJWZGtremNHNWxPVGsyYTBOclNHZGlTSFExY1N0MU5tMVJURzVYTTFWa2NHOXBSRkUwYkhCUGVFOUllbUZXTUVkMWEwRjZXSEZXTjJOR0wyOXZia0VyTHpoNFpqbEVkRTlLVEd4emQwMXpObVJMT0hSRmREazVkV2x2VEdwTVZtNHZjVkpKYW5sTGJEaG1iR05YWlRGQlIxVllRalJoTjJFeGFqbGhZWEJKTW5weVNIZFRiRGhpUWl0UlpXcFVRMWx3Vm1aMlEwZFJRVUZCUVVKS1VsVTFSWEpyU21kblp6MDlQQzlpWVhKamIyUmxQZzBLSUNBZ0lDQWdQR0psY21WamFIUnBaM1Z1WjNORVlYUmxQakl3TVRNdE1URXRNVE5VTURVNk5UTTZNakVyTURFd01Ed3ZZbVZ5WldOb2RHbG5kVzVuYzBSaGRHVStEUW9nSUNBZ0lDQThaM1ZsYkhScFoydGxhWFJ6UW1WbmFXNXVQakl3TVRNdE1URXRNVE5VTURVNk5UTTZNakFyTURFd01Ed3ZaM1ZsYkhScFoydGxhWFJ6UW1WbmFXNXVQZzBLSUNBZ0lDQWdQR2QxWld4MGFXZHJaV2wwYzBWdVpHVStNakF4TXkweE1TMHhNMVF3TmpvMU16b3lNQ3N3TVRBd1BDOW5kV1ZzZEdsbmEyVnBkSE5GYm1SbFBnMEtJQ0FnSUNBZ1BHWnZjbTFoZEhSbFpGQnlaV2x6UGpJc01qQWdSVlZTUEM5bWIzSnRZWFIwWldSUWNtVnBjejROQ2lBZ0lDQWdJRHgzWVdWb2NuVnVaejR1UEM5M1lXVm9jblZ1Wno0TkNpQWdJQ0FnSUR4cmIyNTBjbTlzYkdWMWNuTkRiMlJsUGtWT01TMHhNQzB4TXpFeE1EVTFNend2YTI5dWRISnZiR3hsZFhKelEyOWtaVDROQ2lBZ0lDQWdJRHhyYjI1MGNtOXNiRzFsWkdsMWJUNVFLaW96TVRJek1USXpPSFk4TDJ0dmJuUnliMnhzYldWa2FYVnRQZzBLSUNBZ0lDQWdQSFJoWjJWelEyOWtaVDVOYjNScGRqd3ZkR0ZuWlhORGIyUmxQZzBLSUNBZ0lDQWdQSFJwWTJ0bGRFbEVQakkzTkRrME5qY3dORFE0TURFeU5Ud3ZkR2xqYTJWMFNVUStEUW9nSUNBZ0lDQThjMmxuYm1GMGRYSmxQaTB0VkVWVFZDMHRWRWxEUzBWVUxTMDhMM05wWjI1aGRIVnlaVDROQ2lBZ0lDQThMMkpsY21WamFIUnBaM1Z1Wno0TkNpQWdQQzlpWlhKbFkyaDBhV2QxYm1kbGJqNE5Dand2ZEdsamEyVjBSWEozWlhKaWMxQnliM3BsYzNOU1pYTndiMjV6WlQ0TkNnMEs="
                    }
                }
            }

## Confirm ticket delivery [/imp-endpoint/api/V1/Processes/{processId}]    
The response contains details of a bought ticket, identified by {ticketIds} and {ticketContent} 

The data structure of the request body:

attribute | json data type | comments
--- | --- | ---
requestId | String | Resource id
ticketIds | String | Tickets ids for confirmation
operator | String | Name of Ticket Operator

The data structure of the response contains the following attributes:

attribute | json data type | comments
--- | --- | ---
actions | Array | List of available actions on this resource (confirm)
processId | Number | BPMN process id
confirmation | Object | Confirm ticket response data


confirmation contains following fileds:

attribute | json data type | comments
--- | --- | ---
featureType | String | Feature type
confirmationId | String | 
confirmationData | Object | Response of confirm ticket request

confirmationData contains following fileds:

attribute | json data type | comments
--- | --- | ---
confirmed | Boolean | Value indicating success/failure
    
### Confirming a ticket delivery [PUT]
@nottestable

+ Parameters
    + processId (string, `9347`) ... String `id` - BPMN process id
    
+ Request

    + Headers
        
            userToken: {someUserToken} 

    + Body
    
            {
              "requestId": "{resourceId}",
              "ticketIds": [
                            "274946704480125"
                           ],
               "operator": {
                    "name": "handyticket"        
                }
            }
        
+ Response 200 (application/json)

    + Body
    
            {
                "process": {
                    "actions": [],
                    "processId": "{processId}",
                    "confirmation": {
                        "featureType": "CONFIRM",
                        "confirmationId": null,
                        "confirmationData": {
                            "confirmed": true
                        }
                    }
                }
            }

# Group Incidents / Traffic Info
This is a group of all incidents related rest resources.

## List of Incidents [/imp-endpoint/api/V1/Info/Incidents?lat={lat}&lng={lng}&radius={radius}] 

This collection contains list of recent general incidents (incidents that affect public AND individual transport) in a specific area and a URI to get more details. List of traffic information in the specified geo location specified by query parameters.
The data structure of the response contains the following attributes:

attribute | json data type | comments
--- | --- | ---
category | Enum | {"Roadworks", "Blockade", "Indefinition"} are the categories for the incidents with type "IncidentIndividualTransport", {"ConstructionProject", "Imbalance", "Diversion", "RailReplacement", "ShuttleService"} are the categories for incidents with type "IncidentPublicTransport"
message | String | 
timePeriod | Object | time period of the incident
coordinates | Object | coordinates of the incident
reason | String | reason description
reasonShort | String | reason description
consequence | String | consequense description
consequenceShort | String | consequense description
location | String | location as String
source | String | {= "PT", "INKO", etc.}
affectedTrips | Array | list of affected trips
net | NetType  | 
description | String | description of an incident information
type | String | There are 2 types of incidents: Incidents with the type "IncidentIndividualTransport" affect individual transport (car, bycicle), incidents with the type "IncidentPublicTransport" affect public transport (bus, tram, etc.)
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | Enum | {"News", etc.}


+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `1000`) ... String `radius` longitude value. Has example value.
    
+ Model (application/json)

    + Body
    
            [
                {
                    "category": "Blockade",
                    "message": "Closed Road",
                    "timePeriod": {
                        "from": "2012-11-09T12:00:00+0100",
                        "to": "2014-08-31T17:00:59+0200"
                    },
                    "reason": null,
                    "reasonShort": null,
                    "consequence": null,
                    "consequenceShort": null,
                    "location": {
                        "latitude": 52.51774,
                        "longitude": 13.38868,
                        "system": "WGS_84"
                    },
                    "source": "INKO",
                    "affectedTrips": null,
                    "net": [],
                    "description": "Roadworks carriageway reduced from 2 to 1 lane traffic, congestion has to be expected road closed direction closed",
                    "type": "IndividualTransport",
                    "uri": null,
                    "provider": "vmz_trafficinfo",
                    "operator": "News",
                    "externalResourceId": "INKO_113388"
                },
                {
                    "category": "Roadworks",
                    "message": "Road Work",
                    "timePeriod": {
                        "from": "2012-04-11T09:00:00+0200",
                        "to": "2016-05-15T17:00:59+0200"
                    },
                    "reason": null,
                    "reasonShort": null,
                    "consequence": null,
                    "consequenceShort": null,
                    "location": {
                        "latitude": 52.51753,
                        "longitude": 13.39682,
                        "system": "WGS_84"
                    },
                    "source": "INKO",
                    "affectedTrips": null,
                    "net": [],
                    "description": "Roadworks, new road layout, carriageway reduced to one lane",
                    "type": "IndividualTransport",
                    "uri": null,
                    "provider": "vmz_trafficinfo",
                    "operator": "News",
                    "externalResourceId": "INKO_113041"
                }
            ]


### Getting all incidents [GET]
@testable

+ Response 200

    [List of Incidents][]
    
## List of All Incidents [/imp-endpoint/api/V1/Info/Incidents/All] 

This collection contains list of recent general incidents (incidents that affect public AND individual transport). 
The data structure of the response contains the following attributes:

attribute | json data type | comments
--- | --- | ---
category | Enum | {"Roadworks", "Blockade", "Indefinition", "Congestion"} are the categories for the incidents with type "IncidentIndividualTransport", {"Construction", "Imbalance", "Diversion", "RailReplacement"} are the categories for incidents with type "IncidentPublicTransport"
message | String | 
timePeriod | Object | time period of the incident
coordinates | Object | coordinates of the incident
reason | String | reason description
reasonShort | String | reason description
consequence | String | consequense description
consequenceShort | String | consequense description
location | String | location as String
source | String | {= "PT", "INKO", etc.}
affectedTrips | Array | list of affected trips
net | NetType  | 
description | String | description of an incident information
type | String | There are 2 types of incidents: Incidents with the type "IncidentIndividualTransport" affect individual transport (car, bycicle), incidents with the type "IncidentPublicTransport" affect public transport (bus, tram, etc.)
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | Enum | {"News", etc.}

+ Model (application/json)

    + Body
    
            [
                {
                    "category": "Blockade",
                    "message": "Closed Road",
                    "timePeriod": {
                        "from": "2012-11-09T12:00:00+0100",
                        "to": "2014-08-31T17:00:59+0200"
                    },
                    "reason": null,
                    "reasonShort": null,
                    "consequence": null,
                    "consequenceShort": null,
                    "location": {
                        "latitude": 52.51774,
                        "longitude": 13.38868,
                        "system": "WGS_84"
                    },
                    "source": "INKO",
                    "affectedTrips": null,
                    "net": [],
                    "description": "Roadworks carriageway reduced from 2 to 1 lane traffic, congestion has to be expected road closed direction closed",
                    "type": "IndividualTransport",
                    "uri": null,
                    "provider": "vmz_trafficinfo",
                    "operator": "News",
                    "externalResourceId": "INKO_113388"
                },
                {
                    "category": "Roadworks",
                    "message": "Road Work",
                    "timePeriod": {
                        "from": "2012-04-11T09:00:00+0200",
                        "to": "2016-05-15T17:00:59+0200"
                    },
                    "reason": null,
                    "reasonShort": null,
                    "consequence": null,
                    "consequenceShort": null,
                    "location": {
                        "latitude": 52.51753,
                        "longitude": 13.39682,
                        "system": "WGS_84"
                    },
                    "source": "INKO",
                    "affectedTrips": null,
                    "net": [],
                    "description": "Roadworks, new road layout, carriageway reduced to one lane",
                    "type": "IndividualTransport",
                    "uri": null,
                    "provider": "vmz_trafficinfo",
                    "operator": "News",
                    "externalResourceId": "INKO_113041"
                }
            ]


### Getting all incidents [GET]
@testable

+ Response 200

    [List of Incidents][]
    
    
    
## List of individual transport Incidents [/imp-endpoint/api/V1/Info/Incidents/IndividualTransport?lat={lat}&lng={lng}&radius={radius}] 

This collection contains list of recent incidents that affect individual transport only in a specific area. List of traffic information in the specified geo location specified by query parameters.
The data structure is the same as in *[/imp-endpoint/api/V1/Info/Incidents?lat={lat}&lng={lng}&radius={radius]*

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `1000`) ... String `radius` longitude value. Has example value.
    


### Getting recent general incidents that affect individual transport only in a specific area. [GET]
@testable

+ Response 200

    [List of Incidents][]


## List of public transport Incidents [/imp-endpoint/api/V1/Info/Incidents/PublicTransport?lat={lat}&lng={lng}&radius={radius}] 

This collection contains list of recent incidents that affect public transport only in a specific area. List of traffic information in the specified geo location specified by query parameters.
The data structure is the same as in *[/imp-endpoint/api/V1/Info/Incidents?lat={lat}&lng={lng}&radius={radius]*

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `1000`) ... String `radius` longitude value. Has example value.
    


### Getting recent general incidents that affect public transport only in a specific area. [GET]
@testable

+ Response 200

    [List of Incidents][]

# Group Journey Planner. IMR
This is a group of all journey planner IMR related rest resources.

## List of Trip Proposals with Basic Info. Intermodal Router [/imp-endpoint/api/V1/TripProposals/IMR] 

This collection contains trip proposals with basic information for specified trip criteria. Note: the trip proposals can be multimodal or intermodal, depending on to which routing service the user is subscribed to.
The data structure of the response contains the following attributes:

attribute | json data type | comments
--- | --- | ---
url | URI | URI to request more details
origin | Object | start point of the proposed trip
destination | Object | endpoint of the proposed trip
trafficTypes | Array | list of traffic types used in the proposed trip. Currently: Bike, Bus, Car, CityTrain, Ferry, Metro, Other, RegioTrain, Unknown, Train, Tram, Walk, UBahn. trafficType Other is used in the segments for car rental/parking
description | String | 
costs | Array | list of costs for the proposed trip
useBikeSharing | Boolean | use bike sharing services for routing [default: false]
useCarSharing | Boolean | use car sharing services for routing [default: false]
--- | --- | ---
ownVehicles | Object | 
--- | --- | ---
trafficType | Enum | Own vehicle type - Car / Bike
useParking | Boolean | Use parking for own vehicle 
useParkAndRide | Boolean | Use parking and ride for own vehicle 

    
+ Model (application/json)

    + Body
    
            [
                {
                    "url": "TripProposals/IMR/80812",
                    "origin": {
                        "location": {
                            "latitude": 52.39339065551758,
                            "longitude": 13.07505989074707,
                            "system": "WGS_84"
                        },
                        "address": null,
                        "time": "2014-03-27T10:23:12+0100"
                    },
                    "destination": {
                        "location": {
                            "latitude": 52.52581024169922,
                            "longitude": 13.369529724121094,
                            "system": "WGS_84"
                        },
                        "address": null,
                        "time": "2014-03-27T11:04:12+0100"
                    },
                    "trafficTypes": [
                        "Car"
                    ],
                    "description": null,
                    "costs": {
                        "distance": {
                            "unit": "Meter",
                            "value": 35433
                        },
                        "duration": {
                            "unit": "Minute",
                            "value": 41
                        },
                        "price": {
                            "unit": "Euro",
                            "value": 17.7165
                        },
                        "emission": {
                            "unit": "Gram",
                            "value": 5314.95
                        },
                        "ticketPrice": null
                    }
                },
                {
                    "url": "TripProposals/IMR/80813",
                    "origin": {
                        "location": {
                            "latitude": 52.393295,
                            "longitude": 13.074756,
                            "system": "WGS_84"
                        },
                        "address": null,
                        "time": "2014-03-27T10:30:00+0100"
                    },
                    "destination": {
                        "location": {
                            "latitude": 52.525589,
                            "longitude": 13.369539,
                            "system": "WGS_84"
                        },
                        "address": null,
                        "time": "2014-03-27T11:21:00+0100"
                    },
                    "trafficTypes": [
                        "Walk",
                        "CityTrain"
                    ],
                    "description": null,
                    "costs": {
                        "distance": {
                            "unit": "Meter",
                            "value": 28266.81343723691
                        },
                        "duration": {
                            "unit": "Minute",
                            "value": 51
                        },
                        "price": {
                            "unit": "Euro",
                            "value": 3.2
                        },
                        "emission": {
                            "unit": "Gram",
                            "value": 621.225709056449
                        },
                        "ticketPrice": {
                            "unit": "EuroCent",
                            "value": 320,
                            "operatorId": "VBB",
                            "ticketId": "00101",
                            "tariffLevel": "B3",
                            "departureZone": "5750",
                            "arrivalZone": "5555"
                        }
                    }
                }
            ]


### Getting Trip Proposals by IMR Planner  [POST]
@testable

Selection criteria is specified in the request body as described in the sample request:
origin: start point specified by a geo location. (addresses can be converted into geo locations by means of "GET /Resources/GeoLocations")
destination: start point specified by a geo location
either orgin or destination might specify a time
viaPoints: list of geo locations that the route should use
costFunction: list of cost factors (such as Distance, Duration, Price, Emission), each with a percentual weight 
trafficTypes: list of traffic types. Currently: Bike, Bus, Car, CityTrain, Ferry, Metro, Other, RegioTrain, Unknown, Train, Tram, Walk, UBahn. trafficType Other is used in the segments for car rental/parking
routingConstraints: list of constraints to be taken into account for various traffic types, specified by min/max values
userId: user that requests a trip

+ Request

    + Headers
    
            Content-Type: application/json
            Accept: application/json

    + Body
        
            {
              "origin": {
                "location": {
                  "system": "WGS84",
                  "longitude": 13.074760101735592,
                  "latitude": 52.3933000574258
                },
                "time": "2014-08-27T14:53:06+0530"
              },
              "destination": {
                "location": {
                  "system": "WGS84",
                  "longitude": 13.369544930756092,
                  "latitude": 52.52559208824942
                },
                "time": null
              },
              "viaPoints": [],
              "costFunctions": [
                {
                  "percentage": 100,
                  "costType": "Duration"
                }
              ],
              "userId": "4711/10",
              "trafficTypes": [
                "Walk",
                "Bike",
                "Car",
                "Metro",
                "CityTrain",
                "Bus"
              ],
              "routingConstraints": [
                {
                  "routingConstraintType": "Distance",
                  "trafficType": "Walk",
                  "max": {
                    "value": "1000",
                    "unit": "Meter"
                  }
                },
                {
                  "routingConstraintType": "Distance",
                  "trafficType": "Car",
                  "max": {
                    "value": "20000",
                    "unit": "Meter"
                  }
                }
             ],
             "useBikeSharing": "true",
             "useCarSharing": "true", 
             "ownVehicles":[
                            {  "trafficType":"Car",
                                "useParking":"true",
                                "useParkAndRide":"true"
                            }
                        ]
            }

+ Response 200 (application/json)

    [List of Trip Proposals with Basic Info. Intermodal Router][]


## Trip Proposal with Detailed Info [/imp-endpoint/api/V1/TripProposals/IMR/{proposalId}]

A single trip proposal object with Detailed Information.

Each trip proposal consists of several segments, one segment for one transportation modality such as bike, car, train, etc. 
There is also a separate segment if the traveler shall use different lines of the same transport modality, 
for instance, first U5 from A to B and then U4 from B to C.

Each segement has an origin and a destination with corresponding timestamps when to arrive and depart.
A segment consists of a sequence of wayPoints and guidingPoints.
A wayPoint describes an intermediate geo location useful for displaying the trip proposal in a map.
A guidingPoint gives a traveler hints how to travel, e.g., whenever to change the road at a crossing. GuidingPoints are a subset of wayPoints

The data structure of the response contains the attributes with the basic information and additionally the following attributes of a segment object:

attribute | json data type | comments
--- | --- | ---
segmentId | URI | URI to request more details
origin | Object | start point of the proposed trip. For car sharing segment we have "operatorId" and "unitId" and for CityTrain/RegioTrain segment we have "platform", "stationId" and "direction"
destination | Object | endpoint of the proposed trip


Please note:

The trip proposals as returned by *[GET /imp-endpoint/api/V1/TripProposals/IMR]* are internally stored only for a certain time; afterward they expire and details are no longer available. 
The current expiration time is 10 minutes.

### Getting a specific Trip Proposal [GET] 
@nottestable

+ Parameters
    + proposalId (string, `21844`) ... String `proposalId` as retrieved through *[GET /imp-endpoint/api/V1/TripProposals/IMR]*

        
+ Response 200 (application/json)

    + Body
        
            {
                "url": "TripProposals/21844/",
                "segments": [
                    {
                        "segmentId": "1",
                        "description": "@52.52164199999999,13.411007000000039:@52.57783508300779,13.3144836425781",
                        "origin": {
                            "location": {
                                "latitude": 52.52180099487305,
                                "longitude": 13.411330223083496,
                                "system": "WGS_84"
                            },
                            "address": null,
                            "time": "2014-06-28T14:04:02+0200"
                        },
                        "destination": {
                            "location": {
                                "latitude": 52.57788848876953,
                                "longitude": 13.314399719238281,
                                "system": "WGS_84"
                            },
                            "address": null,
                            "time": "2014-06-28T14:28:02+0200"
                        },
                        "trafficType": "Car",
                        "cost": {
                            "distance": {
                                "unit": "Meter",
                                "value": 10905
                            },
                            "duration": {
                                "unit": "Minute",
                                "value": 24.533333333333335
                            },
                            "price": {
                                "unit": "Euro",
                                "value": 4.9072499999999994
                            },
                            "emission": {
                                "unit": "Gram",
                                "value": 1635.75
                            },
                            "ticketPrice": null
                        },
                        "wayPoints": [
                            {
[...]
